ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a {
    display: inline-block;
    padding: 6px;
    color: #9A9CB5;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 18px;
    font-family: "Inter", sans-serif
}
a:hover, a:active, .active {
    color: #60638b;
    border-bottom: 2px solid #60638b;
    text-decoration: none;
}